<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
.episode-summaries-grid {
  display: grid;

  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  /* Fit content within the viewport width */
  width: 100%;
  max-width: 100%; 
}


.episode-descriptions-grid {

  grid-template-columns: auto
  gap: 10px;
  padding: 10px;
  /* Fit content within the viewport width */
  width: 100%;
  max-width: 100%; 
}



.icon {
  width: auto;
}

.content {
  /* Optional: Add any additional styling for the content */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding and border are included in the element’s total width and height */
}


</style>
