<style>

  

  body {
      display: flex;
      flex-direction: column; 
      background-color: #222; /* Dark background color */
      color: #e0e0e0; /* Light text color */
      font-family: Arial, sans-serif; /* Chosen font */
  }


  a {
      color: #82aaff; /* Light blue color for links */
      text-decoration: none; /* Remove underline */
      transition: color 0.3s; /* Smooth transition for hover effect */
  }

  a:visited {
      color: #bf80ff; /* Light purple color for visited links */
  }

  a:hover {
      color: #f6c177; /* Light amber color on hover */
      text-decoration: underline; /* Underline on hover for emphasis */
  }

  a:active {
      color: #d19a66; /* Slightly darker color when active */
  }

  
.episode-summaries-grid {
  display: grid;

  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  /* Fit content within the viewport width */
  width: 100%;
  max-width: 100%; 
}


.episode-descriptions-grid {

  grid-template-columns: auto
  gap: 10px;
  padding: 10px;
  /* Fit content within the viewport width */
  width: 100%;
  max-width: 100%; 
}


.icon {
  width: auto;
}

.content {
  /* Optional: Add any additional styling for the content */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding and border are included in the element’s total width and height */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card-text {
  margin: 0 0 20px;
  color: #555;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

.card-button:hover {
  background-color: #0056b3;
}
</style>
